*.pyc
*.pyd
*.so
.*.swp
*~
.cache
.pytest_cache/
.eggs
*.egg-info
.coverage
.coverage.*
.ipynb_checkpoints
MANIFEST
dask-worker-space
build/
dist/
choclo/_version_generated.py
doc/_build
doc/api/generated
doc/tutorials
